@using Microsoft.AspNetCore.Mvc.Localization
@using DataProcessor.Localization
@inject IHtmlLocalizer<DataProcessorResource> L
<a class="nav-link" role="button" href="~/Account/Login">@L["Login"]</a>
